<div ng-controller="JobDetailController">
    <div class="page-header">
        <h1>
            {{name}}
        </h1>
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="javascript: void(0)" aria-expanded="true" data-target="#basic">
                    <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                    基本信息
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="javascript: void(0)" aria-expanded="false" data-target="#script"
                   ng-click="showPeriod(rankList)">
                    <i class="purple ace-icon fa fa-code-fork bigger-125"></i>
                    脚本配置
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="basic" class="tab-pane fade in active">
            <form class="form-horizontal" name="jobForm" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right"> 类别 </label>

                    <div class="col-sm-9">
                        <select ng-model="job.category" name="required1" validator="required"
                                required-error-message="类别不能为空!">
                            <option value="{{key}}" ng-repeat="(key,value) in category">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 名称 </label>

                    <div class="col-sm-6">
                        <input type="text" ng-model="job.name" id="form-field-1" placeholder="任务名称"
                               class="form-control input-sm" name="required2" validator="required"
                               required-error-message="名称不能为空!">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right"> 种子 </label>

                    <div class="col-sm-6">
                        <textarea id="form-field-2"  name="required3"
                                  placeholder="请输入对应种子URL,多个URL用;分隔"
                                  class="autosize-transition form-control ng-pristine ng-untouched ng-valid"
                                  ng-model="job.seeds"
                                  style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 150px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Timer </label>

                    <div class="col-sm-6">
                        <input type="text" name="required4" ng-model="job.timer" placeholder="定时任务Timer(需要符合crontab格式)" validator="required"
                               required-error-message="Timer不能为空!" class="form-control input-sm">
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label no-padding-right"> 重试次数 </label>-->

                    <!--<div class="col-sm-6">-->
                        <!--<input type="text" name="number1" placeholder="重试次数(默认为0)" ng-model="job.retryCount" class="form-control input-sm" validator="number"-->
                               <!--number-error-message="重试次数只能是数字!">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right"> 间隔(ms) </label>

                    <div class="col-sm-6">
                        <input type="text" name="number3" ng-model="job.sleep" placeholder="每次爬取目标地址的间隔时间(默认为0)" class="form-control input-sm"
                               validator="number" number-error-message="间隔时间只能是数字!">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right"> 线程数 </label>

                    <div class="col-sm-6">
                        <input type="text" name="number4" ng-model="job.threadNum" placeholder="抓取线程数" class="form-control input-sm"
                               validator="number,min=0" number-error-message="线程数只能是数字!" min-error-message="线程数必须大于0!">
                    </div>
                </div>
            </form>
            <div class="clearfix form-actions" style="padding-top: 5px;padding-bottom: 5px;">
                <div style="text-align: center">
                    <button validation-submit="jobForm" class="btn btn-success btn-mini" type="button" ng-click="saveJob()">
                        <i class="ace-icon fa fa-save bigger-110"></i>
                        保存
                    </button>
                </div>
            </div>
        </div>
        <div id="script" class="tab-pane fade in">
            <div class="widget-box transparent">
                <div class="widget-main">
                    <div class="profile-feed row">
                        <div class="col-sm-12">
                            <div class="profile-activity clearfix">
                                <div >
                                    <i class="pull-left thumbicon fa fa-tasks btn-info no-hover"></i>
                                    <span class="user"> 任务创建策略 </span>(生成具体任务时执行，主要是在后台服务端使用)
                                    <div class="time" ui-tree>
                                        <div class="scripts" ui-tree-nodes ng-model="jobBuilders">
                                            <span ui-tree-node class="script" ng-repeat="builder in jobBuilders">
                                                <span ui-tree-handle >
                                                    {{builder.scriptName}}
                                                </span>
                                                <button type="button" class="close" data-toggle="modal"
                                                        data-target="#modal-job-script" ng-click="selectScript(builder)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="tools action-buttons">
                                    <a href="javascript:void(0);" class="blue" data-toggle="modal"
                                       data-target="#modal-job-define-script" ng-click="selectDefineScript(1)">
                                        <i class="ace-icon fa fa-life-ring bigger-125"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="blue" data-toggle="modal"
                                       data-target="#modal-job-script" ng-click="selectScriptType(1)">
                                        <i class="ace-icon fa fa-file-code-o bigger-125"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="blue" data-toggle="modal"
                                       data-target="#modal-form" ng-click="showRule(rule)">
                                        <i class="ace-icon fa fa-save bigger-125"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="profile-activity clearfix">
                                <div >
                                    <i class="pull-left thumbicon fa fa-bug btn-success no-hover"></i>
                                    <span class="user"> 爬取策略 </span>(客户端爬取时执行,可以定义访问/解析/过滤/结果等Command)
                                    <div class="time" ui-tree>
                                        <div class="scripts" ui-tree-nodes ng-model="jobChains">
                                            <span ui-tree-node class="script" ng-repeat="chain in jobChains">
                                                <span ui-tree-handle >
                                                    {{chain.scriptName}}
                                                </span>
                                                <button type="button" class="close" data-toggle="modal"
                                                        data-target="#modal-job-script" ng-click="selectScript(chain)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="tools action-buttons">
                                    <a href="javascript:void(0);" class="blue" data-toggle="modal"
                                       data-target="#modal-job-define-script" ng-click="selectDefineScript(2)">
                                        <i class="ace-icon fa fa-life-ring bigger-125"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="blue" data-toggle="modal"
                                       data-target="#modal-job-script" ng-click="selectScriptType(2)">
                                        <i class="ace-icon fa fa-file-code-o bigger-125"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="blue" data-toggle="modal"
                                       data-target="#modal-form" ng-click="saveScriptOrder()">
                                        <i class="ace-icon fa fa-save bigger-125"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-job-script" class="modal fade" tabindex="-1" data-backdrop="static" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="width:1000px;">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">
                        脚本配置
                    </div>
                </div>

                <div class="modal-body no-padding">
                    <form class="form-horizontal" role="form" style="padding: 5px">
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 名称 </label>

                            <div class="col-sm-11">
                                <input type="text" ng-model="jobScript.scriptName" placeholder="名称" ng-disabled="jobScript.scriptId>0 "
                                       class="form-control input-sm">
                            </div>
                        </div>
                        <div class="form-group" ng-show="jobScript.scriptId<=0 || jobScript.scriptId==null">
                            <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 内容 </label>

                            <div class="col-sm-11">
                                <div ui-ace="aceOption" ng-model="jobScript.script" editor="script12"></div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="jobScript.scriptId>99">
                            <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 预定脚本 </label>

                            <div class="col-sm-11">
                                <select ng-model="jobScript.scriptId" ng-change="showModalExample()" name="required1" validator="required" class="col-sm-10"
                                        required-error-message="类别不能为空!">
                                    <option value="{{ds.id}}" ng-repeat="ds in defineScripts">{{ds.scriptName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="jobScript.scriptId>0">
                            <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 参数 </label>

                            <div class="col-sm-11">
                                <div ui-ace="aceOption" ng-model="jobScript.scriptParam" editor="scriptParam"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer no-margin-top">
                    <div class="modal-footer">
                        <button class="btn btn-success btn-mini" ng-click="saveJobScript()">
                            <i class="fa fa-save"></i>
                            确定
                        </button>
                        <button class="btn btn-danger btn-mini" data-dismiss="modal" ng-click="deleteJobScript()">
                            <i class="fa fa-remove"></i>
                            删除
                        </button>
                        <button class="btn btn-grey btn-mini" data-dismiss="modal" ng-click="renderScript()">
                            <i class="fa fa-remove"></i>
                            取消
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div id="modal-job-define-script" class="modal fade" tabindex="-1" data-backdrop="static" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="width:700px;">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">
                        预定脚本配置
                    </div>
                </div>

                <div class="modal-body no-padding">
                    <form class="form-horizontal" role="form" style="padding: 5px">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 预定脚本 </label>

                            <div class="col-sm-10">
                                <select ng-model="jobScript.scriptId" ng-change="showModalExample()" class="col-sm-10">
                                    <option value="{{ds.id}}" ng-repeat="ds in defineScripts">{{ds.scriptName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 参数 </label>

                            <div class="col-sm-10">
                                <div ui-ace="aceOption" ng-model="jobScript.scriptParam" editor="scriptParam2"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer no-margin-top">
                    <div class="modal-footer">
                        <button class="btn btn-success btn-mini" ng-click="saveJobScript()">
                            <i class="fa fa-save"></i>
                            确定
                        </button>
                        <button class="btn btn-danger btn-mini" data-dismiss="modal" ng-click="deleteJobScript()">
                            <i class="fa fa-remove"></i>
                            删除
                        </button>
                        <button class="btn btn-grey btn-mini" data-dismiss="modal" ng-click="renderScript()">
                            <i class="fa fa-remove"></i>
                            取消
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>