<div ng-controller="TargetController">
    <div class="page-header">
        <h1>
            联系我们
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                如遇到问题，可以通过下面的方式联系我们。
            </small>
        </h1>
    </div>
    <div class="row">
        <div id="profile-feed-1" class="profile-feed ace-scroll">
            <div class="scroll-content col-xs-8">
                <div class="profile-activity clearfix">
                    <div>
                        <img class="pull-left" alt="Alex Doe's avatar" src="assets/avatars/avatar5.png">
                        <span class="user"> 黄杰 </span>
                        <span style="padding-left: 10px;">花名:木演</span>
                        <div class="time">
                            <i class="fa fa-envelope-o"></i>
                            <a href="mailto:huanghuangjie.hj@alibaba-inc.com" title="huanghuangjie.hj@alibaba-inc.com"
                               data-clipboard="huanghuangjie.hj@alibaba-inc.com">huanghuangjie.hj@alibaba-inc.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-content col-xs-8">
                <div class="profile-activity clearfix">
                    <div>
                        <img class="pull-left" alt="Alex Doe's avatar" src="assets/avatars/avatar4.png">
                        <span class="user"> 邓宇富 </span>
                        <span style="padding-left: 10px;">花名:寻桥</span>
                        <div class="time">
                            <i class="fa fa-envelope-o"></i>
                            <a href="mailto:yufu.dyf@alibaba-inc.com" title="yufu.dyf@alibaba-inc.com"
                               data-clipboard="yufu.dyf@alibaba-inc.com">yufu.dyf@alibaba-inc.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
