<div ng-controller="TargetController">
    <div class="page-header">
        <h1>
            版本信息
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                所有版本更新记录
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 ">
                        <div class="timeline-container timeline-style2">
                            <div class="timeline-items">
                                <div class="timeline-item clearfix">
                                    <div class="timeline-info">
                                        <span class="timeline-date">2015-06-18</span>
                                        <i class="timeline-indicator btn btn-info no-hover"></i>
                                    </div>
                                    <div class="widget-box transparent">
                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <span class="purple bolder">
                                                   0.1.1
                                                </span>
                                                <br>
                                                <ul>
                                                    <li>
                                                        <small>
                                                            <i>修复几个多线程资源同享导致的问题</i>
                                                        </small>
                                                    </li>
                                                    <li>
                                                        <small>
                                                            <i>修复监控统计数据有时不正常的问题</i>
                                                        </small>
                                                    </li>
                                                    <li>
                                                        <small>
                                                            <i>增加统一任务查询，删除功能等，同时丰富Agent API.</i>
                                                        </small>
                                                    </li>
                                                    <li>
                                                        <small>
                                                            <i>解决Netty处理HTTP短连接不能返回结果的问题</i>
                                                        </small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-item clearfix">
                                    <div class="timeline-info">
                                        <span class="timeline-date">2015-05-29</span>
                                        <i class="timeline-indicator btn btn-info no-hover"></i>
                                    </div>
                                    <div class="widget-box transparent">
                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <span class="purple bolder">
                                                   0.1.0-beta
                                                </span>
                                                <br>
                                                <ul>
                                                    <li>
                                                        <small>
                                                            <i>整个爬虫的任务调度机制，结果发送</i>
                                                        </small>
                                                    </li>
                                                    <li>
                                                        <small>
                                                            <i>任务构建动态管理，动态发布</i>
                                                        </small>
                                                    </li>
                                                    <li>
                                                        <small>
                                                        <i>爬取脚本(自定义/预定义)管理，动态发布</i>
                                                        </small>
                                                    </li>
                                                    <li>
                                                        <small>
                                                        <i>自身统计监控统计</i>
                                                        </small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.timeline-items -->
                        </div>
                        <!-- /.timeline-container -->

                    </div>
                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
    </div>

</div>
